# my alias
alias l='ls -artl --color=auto'
alias n='nvim'
alias shutdown='sudo shutdown -h now'
alias q='exit'
alias defx='nvr -c "MyDefx "$(pwd)'
function ntab () {
    for f in "$@"
    do
        nvr -c 'MyTabNew '"$f"
    done
}
