snippet link "Link to something"
[${1:${VISUAL:Text}}](${3:http://${2:www.url.com}})$0
endsnippet

snippet inline "Inline Code"
\`$1\`$0
endsnippet

snippet codeblock "Codeblock"
\`\`\`
$1
\`\`\`
$0
endsnippet

snippet title "Title Section"
### ${1:Section Name}
$0
endsnippet

snippet subtitle "Sub Title Section"
##### ${1:Sub Tilte Name}
$0
endsnippet

snippet bold "bold"
**${1:${VISUAL}}**$0
endsnippet
